<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap"
      rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,700;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>LiveVsion</title>

  </head>

  <body>
    <div class="wrapper">
        <div class="navbar">
          <a href="./index.html">About</a>
          <a href="">Contact us</a>
          <a href="./team.html">Team members</a>
        </div>

      <div class="life-wrapper">
        <div class="content">
          <div class="heading">
            <h1 id="life">LIFE<span id="vsion">V</span>SION</h1>
            <h2 id="full">(Computer Vision in healthcare)</h2>
          </div>

          <br>

          <div class="slogan">
            <h3 id="slogan" style="color: purple">"<i><span class="life-slogan" style="font-family: 'Lobster',cursive; color: purple; font-weight: 100;"></span></i>"</h3>
          </div>

          <div class="para" >
            <p class="discription" style="color: rgb(255, 255, 255)">
                Life<span class="para-v" style="color: rgb(255, 255, 255)">V</span>sion project is based upon 
                computer vision techniques. <br>
                Through live streaming, objects are meant to be <br>
                recognised and located. Additionally, brain tumours <br>
                are detected by it. Remote-level operations function more <br>
                effectively and accurately with the help of Life<span class="para-v" style="color: rgb(255, 255, 255)">V</span>sion.
            </p>
          </div>

        </div>
      </div>

      <div class="n-button">
        <a href="liveStreming"><i class="fa fa-toggle-right" style="font-size:45px; color: green;"></i></a>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var other = new Typed('.life-slogan',{
            strings: ["Improving Lives Together with LifeVsion"],
            typeSpeed: 30,
            backSpeed: 30,
            loop: true
        });
    </script>
  </body>
</html>
